<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>我们的成果</title>
    <!-- Le styles -->
    <link href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="https://v2.bootcss.com/assets/css/docs.css" rel="stylesheet">
    <style>
        body {
            font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
        }
    </style>
    <link href="https://v2.bootcss.com/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="./index.html">Bootstrap</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="/?page=1">首页</a>
                    </li>
                    <li><a href="http://www.zhiwutong.com/">植物通</a></li>
                    <li><a href="http://www.plantphoto.cn/">中国植物图像库</a></li>
                    <li><a href="http://www.plants.csdb.cn/">物种信息数据库</a></li>
                    <li><a href="http://www.zjubiolab.zju.edu.cn/botany/">植物学课程网站</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>求是大讲堂</h1>
        <p class="lead">四周植物分布较为齐整，多灌木</p>
    </div>
</header>


<div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav affix">
                <li class="active"><a href="#typography"><i class="icon-chevron-right"></i> 课题背景</a></li>
                <li class=""><a href="#code"><i class="icon-chevron-right"></i> 地域环境与资源概况</a></li>
                <li class=""><a href="#tables"><i class="icon-chevron-right"></i> 调查情况综述</a></li>
                <li class=""><a href="#forms"><i class="icon-chevron-right"></i> 绿化景观现状及分析(区域)</a></li>
                <li><a href="#buttons"><i class="icon-chevron-right"></i> 绿化景观现状及分析(种类)</a></li>
                <li class=""><a href="#images"><i class="icon-chevron-right"></i> 定位及其作用</a></li>
            </ul>
        </div>
        <div class="span9">


            <!-- Typography
            ================================================== -->
            <section id="typography">
                <div class="page-header">
                    <h1>课题背景</h1>
                </div>

                <h2 id="headings">Background</h2>

                <div>


                    <h5>
                        这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                </div>


            </section>


            <!-- Code
            ================================================== -->
            <section id="code">
                <div class="page-header">
                    <h1>地域环境与资源概况</h1>
                </div>

                <h2>General Statement of Environment and Resource</h2>
                <h5>这是一段文字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是字这是一段文字这是vv一段文字这是一段文字这是一段文字这是一段文字</h5>


            </section>


            <!-- Tables
            ================================================== -->


            <section id="tables">
                <div class="page-header">
                    <h1>调查情况综述</h1>
                </div>

                <h5>
                    这是一段文字这是一段文字这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这v是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>


                <div class="bs-docs-example">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </section><!-- Forms
        ================================================== -->


            <section id="forms">


                <div class="page-header">
                    <h1>绿化景观现状及分析(区域)</h1>
                </div>
                <h5>这是一段文字这是一段文字这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段文字这是一段文字这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段文字这是一段文字这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段文字这是一段文字这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
            </section>
        ================================================== -->
            <section id="buttons">
                <div class="page-header">
                    <h1>绿化景观现状及其分析（种类）</h1>
                </div>

                <h5>这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>


            </section>


            <!-- Images
            ================================================== -->
            <section id="images">
                <div class="page-header">
                    <h1>定位及其作用</h1>
                </div>

                <h5>这是一段文字这是这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段文字这是这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>
                <h5>这是一段文字这是这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这这是一段文字这一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字这是一段文字</h5>



            </section>


            <!-- Icons
            ================================================== -->


        </div>
    </div>

</div>


<script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/holder/2.0/holder.min.js"></script>
<script src="https://v2.bootcss.com/assets/js/google-code-prettify/prettify.js"></script>

<script src="https://v2.bootcss.com/assets/js/application.js"></script>


</body>
</html>
